.btnStart {
  background: linear-gradient(229.99deg, #11DEE9 -26%, #017E8B 145%);
}
.btnStop {
  background: linear-gradient(229.99deg, #44DEE9 -26%, #c6a326 145%);
}
.btnReset {
  background: linear-gradient(229.99deg, #c63920 -26%, #017E8B 145%);
}